/* apply a natural box layout model to all elements */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Extra small devices (phones, less than 768px) */
#tag {
	position: fixed;
	top: 0;
	right: 0;
	width: 25px;
	height: 25px;
	background-color: #CC0000;
}

/* 
    GENERAL
*/

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 25px auto;
    padding: 20px;
}

body {
    background-color: rgb(229, 231, 238);
}

#enter-page {
    background-color: rgb(43, 48, 58);
}

/* 
    IMAGES
*/

img {
    margin: 35px;
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms--display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

figure {
    display: inline-block;
}

#center-caption {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: rgb(214, 73, 51);
    align-items: center;
}

/* Tutorial on Modal Images by W3schools.com */
#trigger {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#trigger:hover {opacity: 0.6;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: rgb(229, 231, 238);
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
    font-weight: 500;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: rgb(229, 231, 238);
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: rgb(124, 124, 124);
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* 
    TYPOGRAPHY
*/
h1, h2, h3, h4, h5, h6, li {
    font-family: 'Rubik', sans-serif;
}

body {
    font-family: 'Karla', sans-serif;
}

/* 
    NAVIGATION
*/

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(43, 48, 58);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(43, 48, 58);
}

li {
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

li a {
    display: block;
    color: rgb(229, 231, 238);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: rgb(124, 124, 124);
    color: rgb(229, 231, 238);
}

/*
    BUTTONS AND LINKS
*/
.active {
    background-color: rgb(146, 220, 229);
    color:rgb(43, 48, 58);
}

button {
    position: absolute;
    height: 100px;
    width: 200px;
    color:rgb(229, 231, 238);
    background-color: rgb(43, 48, 58);
    border: 5px solid rgb(229, 231, 238);
    padding: 5px;
    /* centering button reference from Loktar on StackOverflow */
    margin: -60px -80px;
    top: 50%;
    left: 50%;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

button:hover {
    animation-play-state: paused;
    background-color:rgb(146, 220, 229);
    color: rgb(43, 48, 58);
}

/*
    ANIMATIONS
*/
.button-animate {
    animation: pulse 3s infinite;
}

@keyframes pulse {
    from {
        opacity: 0.6;
    }
    50% {
        background-color: rgb(146, 220, 229);
        opacity: 1;
    }
    to {
        opacity: 0.6;
    }
}

/*
    MEDIA QUERIES
*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    #tag { background-color: #FF9900; }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    #tag { background-color: #00AA88; }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    #tag { background-color: #674EA7; }
    
}
