/* apply a natural box layout model to all elements */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Extra small devices (phones, less than 768px) */
#tag {
	position: fixed;
	top: 0;
	right: 0;
	width: 25px;
	height: 25px;
	background-color: #CC0000;
}

/* 
    GENERAL
*/

body {
    background-color: rgb(238, 229, 233);
}

#enter-page {
    background-color: rgb(43, 48, 58);
}

/* 
    TYPOGRAPHY
*/
h1, h2, h3, h4, h5, h6, li {
    font-family: 'Rubik', sans-serif;
}

body {
    font-family: 'Karla', sans-serif;
}

/*
    HEADER
*/
header h1, .container {
    /* should stretch up to 800px wide and center on the screen */
    width: 800px;
}


/* 
    NAVIGATION
*/

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(43, 48, 58);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(43, 48, 58);
}

li {
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

li a {
    display: block;
    color: rgb(238, 229, 233);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: rgb(124, 124, 124);
    color: rgb(238, 229, 233);
}

/*
    BUTTONS AND LINKS
*/
.active {
    background-color: rgb(146, 220, 229);
    color:rgb(43, 48, 58);
}

button {
    position: absolute;
    height: 100px;
    width: 200px;
    color:rgb(238, 229, 233);
    background-color: rgb(43, 48, 58);
    border: 5px solid rgb(238, 229, 233);
    padding: 5px;
    margin: -60px -80px;
    top: 50%;
    left: 50%;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

button:hover {
    animation-play-state: paused;
    background-color:rgb(146, 220, 229);
    color: rgb(43, 48, 58);
}

/*
    ANIMATIONS
*/
.button-animate {
    animation: pulse 3s infinite;
}

@keyframes pulse {
    from {
        opacity: 0.6;
    }
    50% {
        background-color: rgb(146, 220, 229);
        opacity: 1;
    }
    to {
        opacity: 0.6;
    }
}

/*
    MEDIA QUERIES
*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    #tag { background-color: #FF9900; }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    #tag { background-color: #00AA88; }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    #tag { background-color: #674EA7; }
    
}
